<!-- dashboard partial -->
<div ng-controller='DashboardController'>
    <h3>Dashboard</h3>


    <div id = 'score' ng-model='score' ng-if='(lastScore > -1)'>
        <h2>That was great, {{user.name}}!  Your score is {{(100*lastScore / 3) | number:0}}%.<h2>
    </div>

    <div id= 'filter'>
        <input type="text" ng-model="filter_name" placeholder="filter">   {{filter_name}}
    </div>

    <table>
        <tr><th>Name</th><th>Score</th><th>Percentage</th></tr>
        <tr ng-repeat="test in tests | filter: {name:filter_name}"  ng-class-odd="'d1'" ng-class-even="'d2'">
            <td>{{test.name}}</td>
            <td>{{test.score}}</td><td>{{(100*test.score / 3) | number:0}}%</td>
        </tr>
    </table>
</div>
