<!-- dashboard partial -->
<div ng-controller='DashboardController'>
    <h3>Dashboard</h3>

    <h3><a href='#/question'>Create a New Poll</a> | <a href='' ng-click='logout()'>Logout</a></h3>

    <div id= 'filter'>
        <input type="text" ng-model="filter_name" placeholder="filter">   {{filter_name}}
    </div>

    <table>
        <tr><th>Name</th><th>Survey Question</th><th>Date Posted</th><th>Action</th></tr>
        <tr ng-repeat="poll in polls | filter: {name:filter_name}"  ng-class-odd="'d1'" ng-class-even="'d2'">
            <td>{{poll.name}}</td>
            <td><a href='#/poll/+{{poll._id}}'> {{poll.question}}</a></td>
            <td>Optional Action</td>
        </tr>
    </table>
</div>
