<div ng-controller='QuestionController'>
    <h3>List Questions</h3>
    <h1>Show all the questions</h1>
    1. May not need this 
    <br>
    <br>
    <br>
    <br>
    <!-- <div id= 'filter'>
        <input type="text" ng-model="filter_name" placeholder="filter">   {{filter_name}}
    </div>

    <table>
        <tr><th>Name</th><th>Score</th><th>Percentage</th></tr>
        <tr ng-repeat="test in tests | filter: {name:filter_name}"  ng-class-odd="'d1'" ng-class-even="'d2'">
            <td>{{test.user}}</td>
            <td>{{test.score}}</td><td>Calculate percentage here</td>
        </tr>
    </table> -->

</div>
