<div ng-controller='QuestionController'>
    <h3>New Question</h3>
    <h1>Insert new question design here</h1>
    1. Question field
    2. Correct Answer
    3. Fake Answer 1
    4. Fake Answer 2
    5. Cancel and Submit
    <div >
        <h3>Home | Add a Question</h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h3>Logout</h3> <!-- Put this in the dashboard-->

        <h2>New Question</h2>
            <form>
                <form action='/questions' method='post'>
                    Question: <input type='text' ng-model='new_q.question'><br>
                    Correct Answer: <input type='text' ng-model='new_q.answer'><br>
                    Fake Answer 1: <input type='text' ng-model='new_q.fake1'><br>
                    Fake Answer 2: <input type='text' ng-model='new_q.fake2'><br>
                    <input type='submit' ng-click="addquestion()">
                </form>
            <form>
        <br> -->

</div>
