<div ng-controller='TestController'>
    <h3>The Test</h3>
    1. Insert the welcome user text with name.
    2. loop through 3 questions (random?)
    3. support a refresh with current answers and error prompt

    <table>
        <tr><th>Hi SomeUser!<br>
        Choose an answer for each of the questions and submit the test once done.<br>
        Good Luck!<br>
        </th></tr>
        <tr ng-repeat="question in questions">
            <td>{{question}}<br>
                </td>
        </tr>
    </table>
    <div class="button"><input type='submit' value='Submit' ng-click='submitTest(user)'</div>
</div>
