<div ng-controller='TestController'>
    <h3>The Test</h3>
    1. Insert the welcome user text with name.
    2. loop through 3 questions (random?)
    3. support a refresh with current answers and error prompt

    <!-- <table>
        <tr><th>Customer Name</th><th>Created Date</th><th>Actions</th></tr>
        <tr ng-repeat="customer in customers | filter: filter_name"  ng-class-odd="'d1'" ng-class-even="'d2'">
            <td>{{customer.name}}</td><td>{{customer.created_at | date:'medium'}}</td>
            <td><div class="button"><input type='submit' value='Delete' ng-click='removecustomer(customer)'</div></td>
        </tr>
    </table> -->
</div>
