<div ng-controller='TestController'>
    <h3>The Test</h3>
    <!-- 1. Insert the welcome user text with name.<br>
    2. Display 3 questions (random?) DONE <br>
    3. Randomly display answer options <br>
    4. make submit work  DONE<br>
    5. check for all answera and provide an error prompt DONE<br> -->

    <div id='errorArea'>
        <h2>
            {{errorArea.errmsg}}
        </h2>
    </div>

    <table ng-model="questions">
        <tr><th>Hi {{user.name}}!<br>
        Choose an answer for each of the questions and submit the test once done.<br>
        Good Luck!<br>
        {{$scope.questions.length}}
        </th></tr>
        <tr>
            <td>{{questions[0].question}}<br>
                <form name="answerForm">
                    <label>
                        <input type="radio" ng-model='question.firstanswer' value={{questions[0].answer}}>
                        {{questions[0].answer}}<br>
                    <label>
                    <label>
                        <input type="radio" ng-model='question.firstanswer' value={{questions[0].fake1}}>
                        {{questions[0].fake1}}<br>
                    <label>
                    <label>
                        <input type="radio" ng-model='question.firstanswer' value={{questions[0].fake2}}>
                        {{questions[0].fake2}}<br>
                    <label>
                </form>
            </td>
        </tr>
        <tr>
            <td>{{questions[1].question}}<br>
                <form name="answerForm">
                    <label>
                        <input type="radio" ng-model='question.secondanswer' value={{questions[1].answer}}>
                        {{questions[1].answer}}<br>
                    <label>
                    <label>
                        <input type="radio" ng-model='question.secondanswer' value={{questions[1].fake1}}>
                        {{questions[1].fake1}}<br>
                    <label>
                    <label>
                        <input type="radio" ng-model='question.secondanswer' value={{questions[1].fake2}}>
                        {{questions[1].fake2}}<br>
                    <label>
                </form>
            </td>
        </tr>
        <tr>
            <td>{{questions[2].question}}<br>
                <form name="answerForm">
                    <label>
                        <input type="radio" ng-model='question.thirdanswer' value={{questions[2].answer}}>
                        {{questions[2].answer}}<br>
                    <label>
                    <label>
                        <input type="radio" ng-model='question.thirdanswer' value={{questions[2].fake1}}>
                        {{questions[2].fake1}}<br>
                    <label>
                    <label>
                        <input type="radio" ng-model='question.thirdanswer' value={{questions[2].fake2}}>
                        {{questions[2].fake2}}<br>
                    <label>
                </form>
            </td>
        </tr>
    </table>
    <tt> question 1 = {{question.firstanswer | json}}</tt><br>
    <tt> question 2 = {{question.secondanswer | json}}</tt><br>
    <tt> question 3 = {{question.thirdanswer | json}}</tt><br>

    <div class="button"><input type='submit' value='Submit' ng-click='submitTest()'</div>
</div>
